* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    flex-direction: column;
    height: 100vh;
}

#input {
    height: 60px;
    border-radius: 25px;
    border: 3px solid rgb(60, 60, 255);
    text-align: center;
    font-size: 18px;
}

#goButton {
    border: 3px solid rgb(60,60,255);
    border-radius: 180px;
    width: 60px;
    height: 60px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 18px;
    margin-left: 5px;
}

.pokedex-container {
    position: relative;
}

.pokedex-img {
    width: 300px;
    top: 50px;
}

.pokemon-container {
    width: 162px;
    height: 114px;
    background-color: white;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    top: 28.5%;
    left: 19%;
}

.pokemon-img {
    position: absolute;
}